<div id="verwijderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="verwijderModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="verwijderModalLabel">Verwijder relatie</h3>
  </div>
  <div class="modal-body">
    <p>Weet u zeker dat u deze relatie wilt verwijderen?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Nee</button>
    <button class="bevestig-verwijder btn btn-danger">Ja</button>
  </div>
</div>

<form action="/relatie" method="post" class="form-horizontal">
  <input type="hidden" name="id" value="{{id}}" />
  <div class="row-fluid">
    <div class="span6">
      <legend>Gegevens</legend>
      <div class="control-group">
        <label class="control-label">Relatienummer</label>
        <div class="controls">
          <input type="text" value="{{relatienummer}}" disabled>
          <span class="help-block">Uniek relatienummer.</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="externReferentieNummer">Referentienummer</label>
        <div class="controls">
          <input id="externReferentieNummer" name="externReferentieNummer" value="{{externReferentieNummer}}" type="text" placeholder="1234">
          <span class="help-block">Uw referentienummer.</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Aanhef</label>
        <div class="controls">
          <select id="aanhef" name="aanhef">
            <option value="Dhr.">De heer</option>
            <option value="Mw.">Mevrouw</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="voorletters">Voorletters</label>
        <div class="controls">
          <input id="voorletters" name="voorletters" value="{{voorletters}}" type="text" class="input-small" placeholder="A.B.C.">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="voornaam">Voornaam</label>
        <div class="controls">
          <input id="voornaam" name="voornaam" value="{{voornaam}}"  type="text" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="tussenvoegsel">Tussenvoegsel</label>
        <div class="controls">
          <input id="tussenvoegsel" name="tussenvoegsel" value="{{tussenvoegsel}}" type="text" placeholder="van der">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="achternaam">Achternaam</label>
        <div class="controls">
          <input id="achternaam" name="achternaam" value="{{achternaam}}" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Geboortedatum</label>
        <div class="controls">
          <input id="geboortedatum" name="geboortedatum" value="{{geboortedatum}}" type="hidden" data-maxdate="{{_maxBirthday}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="burgerservicenummer">Burgerservicenummer</label>
        <div class="controls">
          <input id="burgerservicenummer" name="burgerservicenummer" value="{{burgerservicenummer}}" type="text">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input name="overleden" value="true" {{#if overleden}}checked{{/if}} type="checkbox"> Overleden
          </label>
        </div>
      </div>
    </div>

    <div class="span6">
      <legend>Adres</legend>
      <div class="control-group">
        <label class="control-label">Land</label>
        <div class="controls">
          <input id="land" name="adres[land]" value="{{adres.land.code}}" type="hidden" class="input-large">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="postcode">Postcode</label>
        <div class="controls">
          <input id="postcode" name="adres[postcode]" value="{{adres.postcode}}" type="text" class="input-small">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="huisnummer">Nr. &amp; Toevoeging</label>
        <div class="controls controls-row">
          <input id="huisnummer" name="adres[huisnummer]" value="{{adres.huisnummer}}" type="text" class="span2" maxlength="11">
          <input id="toevoeging" name="adres[huisnummerToevoeging]" value="{{adres.huisnummerToevoeging}}" type="text" class="span3" maxlength="4">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="straat">Straat</label>
        <div class="controls">
          <input id="straat" name="adres[straat]" value="{{adres.straat}}" type="text">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="stad">Plaats</label>
        <div class="controls">
          <input id="stad" name="adres[woonplaats]" value="{{adres.woonplaats}}" type="text">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="tel">Telefoon</label>
        <div class="controls">
          <input id="tel" name="telefoonnummer" value="{{telefoonnummer}}" type="text">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input id="email" name="emailadres" value="{{emailadres}}" type="email" tabindex="11" />
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="form-actions">
        <button class="verwijder btn btn-danger btn-block">Verwijder</button>
      </div>
    </div>
    <div class="span6">
      <div class="form-actions">
        <button type="reset" class="btn">Herstel</button>
        <button type="submit" class="btn btn-primary">Bewaren</button>
      </div>
    </div>
  </div>
</form>
